*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
nav,main,footer,header{display:block}
a,ul,li{list-style:none;color:inherit;text-decoration:none}
button{cursor:pointer;color:inherit}
button,input{font-family:inherit}
a{background-color:transparent}
a,a:visited{text-decoration:none}
a:hover{text-decoration:none}
a:focus,a:active{outline:none}
:focus,:active{outline:none}
img{display:block;border-style:none}
h1,h2,h3,h4,h5,h6{margin:0}
body{scroll-behavior:smooth}